apiVersion: apps/v1
kind: Deployment
metadata:
  name: cicd-app
  namespace: cicd
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: cicd-app
  template:
    metadata:
      labels:
        app: cicd-app
    spec:
      containers:
      - name: cicd-app
        image: <AWS_ECR_URI>:latest
        ports:
        - containerPort: 8080

